<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Welcome to the SumIt Interview App!!</h1>
  </div>

  <div class="my-4">
    <p>As a reminder, the instructions are in the README of the repo. Don't spend more than an hour on adding the features!</p>
  </div>
</div>
