<header class="bg-neutral-50 rounded-b-md shadow border-2">
  <nav class="p-4 flex justify-end items-center">
    Hello
  </nav>

  <nav class="pb-4 flex items-center justify-center">
    <ul class="flex items-center space-x-6 sm:space-x-12">
      <li class="flex items-center text-lg sm:text-2xl font-medium relative cursor-pointer">
        <%= link_to("Entities", entities_path, class: 'text-gray-600 border-b-2 border-transparent hover:text-black hover:border-black') %>
      </li>
      <li class="flex items-center text-lg sm:text-2xl font-medium relative cursor-pointer ">
        <%= link_to("General Ledger", plutus.accounts_path , class: 'text-gray-600 border-b-2 border-transparent hover:text-black hover:border-black') %>
      </li>
    </ul>
  </nav>
</header>
